.icon-calendar {
	background: url("sprite.svg") 99.7927536231884% 0 no-repeat;
}

.icon-calendar-size {
	width: 22px;
	height: 23px;
}

.icon-calls {
	background: url("sprite.svg") 0 49.055678194751046% no-repeat;
}

.icon-calls-size {
	width: 24px;
	height: 21.23px;
}

.icon-chats {
	background: url("sprite.svg") 38.80597014925373% 0 no-repeat;
}

.icon-chats-size {
	width: 24px;
	height: 23.001px;
}

.icon-customers {
	background: url("sprite.svg") 0 0 no-repeat;
}

.icon-customers-size {
	width: 26px;
	height: 20px;
}

.icon-dashboard {
	background: url("sprite.svg") 33.4056338028169% 98.16666666666667% no-repeat;
}

.icon-dashboard-size {
	width: 20px;
	height: 20px;
}

.icon-inbox {
	background: url("sprite.svg") 99.7927536231884% 57.5% no-repeat;
}

.icon-inbox-size {
	width: 22px;
	height: 22px;
}

.icon-leads {
	background: url("sprite.svg") 69.30679345189415% 0 no-repeat;
}

.icon-leads-size {
	width: 18.857px;
	height: 24px;
}

.icon-tasks {
	background: url("sprite.svg") 0 98.45970149253732% no-repeat;
}

.icon-tasks-size {
	width: 23.718px;
	height: 20.125px;
}

.icon-team {
	background: url("sprite.svg") 38.80597014925373% 48.322443748818245% no-repeat;
}

.icon-team-size {
	width: 24px;
	height: 14.401px;
}

