<h1>Settings</h1>
<div class="page-layout">
	<div class="tabs js-tabs">
		<div class="tabs-links">
			<a href="#" class="tabs-link active" data-tabs="tab1">Profile</a>
			<a href="#" class="tabs-link" data-tabs="tab2">Notifications</a>
			<a href="#" class="tabs-link" data-tabs="tab3">Password</a>
			<a href="#" class="tabs-link" data-tabs="tab4">Working hours</a>
			<a href="#" class="tabs-link" data-tabs="tab5">Call settings</a>
		</div>
		<div class="tabs-blocks">
			<div class="tabs-block visible" data-tabs="tab1">
				таб 1
			</div>
			<div class="tabs-block" data-tabs="tab2">
				таб 2
			</div>
			<div class="tabs-block" data-tabs="tab3">
				таб 3
			</div>
			<div class="tabs-block tabs-block_form " data-tabs="tab4">
				<form class="form">
					<div class="form__inner">
						<div class="field">
							<div class="field__label">Schedule</div>
							<div class="field__content">
								<div class="radios">
									<label class="radio">
										<input type="radio" name="Schedule" checked>
										<span class="radio__imitator"></span>
										Fixed
									</label>
									<label class="radio">
										<input type="radio" name="Schedule">
										<span class="radio__imitator"></span>
										Flexible
									</label>
								</div>
							</div>
						</div>
						<hr class="divider">
						<div class="field field_range">
							<div class="field__label">
								Working hours
							</div>
							<div class="field__content range-time js-range-time">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
						<div class="field field_range">
							<div class="field__label">
								<label class="checkbox-wrap">
									<input type="checkbox" checked class="checkbox js-toggle-range">
									<span class="checkbox__imitator"><i class="fa fa-check"></i></span>
									Monday
								</label>
							</div>
							<div class="field__content range-time js-range-time">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
						<div class="field field_range">
							<div class="field__label">
								<label class="checkbox-wrap">
									<input type="checkbox" checked class="checkbox js-toggle-range">
									<span class="checkbox__imitator"><i class="fa fa-check"></i></span>
									Tuesday
								</label>
							</div>
							<div class="field__content range-time js-range-time">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
						<div class="field field_range">
							<div class="field__label">
								<label class="checkbox-wrap">
									<input type="checkbox" checked class="checkbox js-toggle-range">
									<span class="checkbox__imitator"><i class="fa fa-check"></i></span>
									Wedndesday
								</label>
							</div>
							<div class="field__content range-time js-range-time">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
						<div class="field field_range">
							<div class="field__label">
								<label class="checkbox-wrap">
									<input type="checkbox" checked class="checkbox js-toggle-range">
									<span class="checkbox__imitator"><i class="fa fa-check"></i></span>
									Thursday
								</label>
							</div>
							<div class="field__content range-time js-range-time">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
						<div class="field field_range">
							<div class="field__label">
								<label class="checkbox-wrap">
									<input type="checkbox" checked class="checkbox js-toggle-range">
									<span class="checkbox__imitator"><i class="fa fa-check"></i></span>
									Friday
								</label>
							</div>
							<div class="field__content range-time js-range-time">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
						<div class="field field_range">
							<div class="field__label">
								<label class="checkbox-wrap">
									<input type="checkbox" class="checkbox js-toggle-range">
									<span class="checkbox__imitator"><i class="fa fa-check"></i></span>
									Saturday
								</label>
							</div>
							<div class="field__content range-time js-range-time hidden">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
						<div class="field field_range">
							<div class="field__label">
								<label class="checkbox-wrap">
									<input type="checkbox" class="checkbox js-toggle-range">
									<span class="checkbox__imitator"><i class="fa fa-check"></i></span>
									Sunday
								</label>
							</div>
							<div class="field__content range-time js-range-time hidden">
								<div class="range-time__inputs">
									<input type="text" class="js-range-time__from">
									-
									<input type="text" class="js-range-time__to">
								</div>
								<input type="text" class="js-range-slider" name="my_range" value="" />
							</div>
						</div>
					</div>
					<div class="form__footer">
						<button class="submit" type="submit">SAVE CHANGES</button>
						<a href="#" class="cancel">Cancel</a>
						<span>to reset changes</span>
					</div>
				</form>
			</div>
			<div class="tabs-block" data-tabs="tab5">
				таб 5
			</div>
		</div>
	</div>
</div>
<script src="js/main.js"></script>
