// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
	font-family: $sans;
}

body {
	padding: 0px;
	margin: 0px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
	position: relative;
	outline: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	overflow: hidden;
	background-color: #F5F5F7;
}

.page-content {
    overflow: hidden;
    padding: 38px 53px 37px 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
h1 {
    flex-shrink: 0;
    padding-bottom: 22px;
}
.page-layout {
	flex-basis: 100%;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
    
    font-size: 15px;
    .tabs {
    	height: 100%;
    	.tabs-blocks {
    		height: calc(100% - 76px);
    	}
    }
}

.page-leftside {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 200px;
	background-color: #DC3F43;
	color: #fff;
	z-index: 100;
	&__inner  {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__bottom {
		display: flex;
		align-items: center;
		padding: 8px 8px 9px 15px;
	    background-color: rgba(0, 0, 0, 0.15);
		.avatar {
			margin-right: 13px;
		}
	}
	&__title {
		font-weight: 500;

	}
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
}

.navigation {
	padding: 75px 0 20px;
	list-style: none;
	&__icon {
		width: 26px;
		text-align: center;
		position: absolute;
		left: 18px;
		top: 50%;
		transform: translateY(-50%);
	}
	li {
		transition: .3s;
		&:not(:last-child) {
			margin-bottom: 7px;
		}
		&:hover {
			background-color: rgba(0, 0, 0, 0.15);
		}
		a {
			display: block;
			padding: 11px 23px 11px 60px;
		}
	}
}
