/**
 * Basic typography style for copy text
 */
body {
    color: black;
    font-size: 16px;
    font-family: $sans;
    line-height: 1.3;
}

// all title classes
h1,.h1 {
    font-weight: 300;
    font-size: 25px;
    color: #4a4a4a;
    color: #000;
    line-height: 1.325;
}

h2,.h2 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
    line-height: 1.325;
}

a {
	text-decoration: none;
	color: inherit;
}


[class^='icon-'] {
	background-image: url(../img/ui/icons/sprite/sprite.svg);
	display: inline-block;
	vertical-align: middle;
}