// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.tabs-block {

	padding: 0 26px;
}
.form {
	padding-bottom: 70px;
	position: static;
	height: 100%;
	&__inner {
		height: 100%;
		overflow-y: auto;
		width: 100%;
		overflow-x: hidden;
		padding-right: 10px;
	}
	&__footer {
		height: 60px;
		position: absolute;
		bottom: 0;
		left: 0;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
		background-color: rgba(216, 216, 216, 0.48);
		width: 100%;
		padding: 5px 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		* {
			margin-right: 13px;
		}
		color: #4a4a4a;
		font-size: 13px;
	}
}

.cancel {
	color: #97040c;
	font-weight: 500;
	font-size: 13px;
}

.submit {
	cursor: pointer;
	height: 36px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	background-color: #21d366;
	padding: 0 14px;
}

.tabs-block_form {
	padding-right: 16px;
	&.visible {
		height: 100%;
	}
}
.divider {
	border: 1px solid  rgba(151, 151, 151, 0.3);
	margin: 13px 0 17px;
}
.checkbox {
	position: absolute;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	&-wrap {
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		cursor: pointer;
	}
	&__imitator {
		width: 18px;
		height: 18px;
		background-color: #fff;
		color: #fff;
		font-size: 9px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		border: 1px solid #cccccc;
		box-shadow: none;
		i {
			opacity: 0;
			transition: .3s;
		}
	}
	&:checked + .checkbox__imitator {
		background-color: #4ece3d;
		border-color: #4ece3d;
		i {
			opacity: 1;
		}
	}
}
.radios {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -19px;
	.radio {
		margin-left: 19px;
	}
}
.radio {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	input {
		position: absolute;
		z-index: -1;
		visibility: hidden;
		opacity: 0;
		overflow: hidden;
		width: 0;
		height: 0;
		&:checked + .radio__imitator {
			&:before {
				opacity: 1;
			}	
			
		}
	}
	&__imitator {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 1px solid #CCCCCC;
		margin-right: 4px;
		display: inline-block;
    	vertical-align: middle;
		&:before {
			content: '';
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #4A90E2;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: .3s;
		}
	}
}
.field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
	margin-bottom: 14px;
	&__label {
		color: #9b9b9b;
		width: 172px;
		flex-shrink: 0;
		margin-right: 20px;
		.checkbox__imitator {
			margin-right: 9px;
		}
	}
	&__content {
		width: 100%;
	}
	&_range {
		align-items: flex-end;
		margin-bottom: 14px;
		.field__label {
			margin-bottom: 6px;
		}
	}
}

.range-time {
	transition: .3s;
	&.hidden {
		visibility: hidden;
		opacity: 0;
	}
	&__inputs {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 6px;
		input {
			border-radius: 3px;
			border: 1px solid rgba(155, 155, 155, 0.5);
			width: 50px;
			height: 22px;
			text-align: center;
			margin: 0 4px;
			font-size: 13px;
			color: #4a4a4a;
		}
	}
}

// Стили range
.irs--big {
	height: 24px;
	.irs-line {
	    background: #D8D8D8;
	    border: none;
		height: 8px;
		top: 7px;
	}
	.irs-handle {
	    height: 20px;
	    width: 20px;
	    border: none;
		background: #ffffff !important;
	    outline: none;
	    top: 27px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) !important;
		top: 0;
	}
	.irs-bar {
		border: none;
		background:#990000;
		height: 8px;
		top: 7px;
	}
}

// Конец Стили range