// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
);

/**
 * Fonts
 */

$sans: "Heebo", Arial, sans-serif;

/**
 * Colors
 */

$gray :#4a4a4a;
$red :#9f0008;
