	.tabs-links {
	    font-size: 0;
	    margin: 0 auto 25px;
	    width: 100%;
		border-bottom: 1px solid rgba(151, 151, 151, 0.22);
		white-space: nowrap;
		width: 100%;
		overflow-x: auto;
	}
	.tabs-link {
	    font-size: 15px;
	    vertical-align: top;
	    padding: 5px 32px;
	    display: inline-flex;
		align-items: center;
		min-height: 50px;
		color: #97040c;
	    &.active {
	    	color: $gray;
	    	font-weight: 500;
	    	&:after {
	    		content: '';
	    		position: absolute;
	    		bottom: 0;
	    		left: 0;
	    		width: 100%;
	    		height: 2px;
	    		background-color: $red;
	    	}
	    }
	}
	.tabs-block {
	    visibility: hidden;
	    // display: none;
	    z-index: -1;
	    position: absolute;
	    height: 0;
	    opacity: 0;
	    -webkit-transition: opacity .8s, visibility .8s;
	    -o-transition: opacity .8s, visibility .8s;
	    transition: opacity .8s, visibility .8s;
	    top: 0;
	    overflow: hidden;
	    min-height: 100%;
	}
	.tabs-block.visible {
	    position: static;
	    visibility: visible;
	    opacity: 1;
	    z-index: 1;
	    // display: block;
	    height: auto;
	}